.pokemon {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    /* max-width: 400xp; */
    margin-top: 4rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
}
.pokemon:hover{
    background-color: burlywood;
}
.pokemonImage {
    max-height: 50%;
    min-height: 200px;
    max-width: 220px;
    transition: transform 0.5s ease;
}
.pokemonImage:hover{
    zoom: 1.1;
    transform: scale(1.1);
}
.pokemonName{
    letter-spacing: 10px;
    font-size: larger;
    margin-bottom: 1rem;
    font-weight: bold;
    transition: transform 0.5s ease;
}
.pokemonName:hover{
    zoom: 1.1;
    transform: scale(1.1);
}
